<!DOCTYPE html>
<html>

<head>
    <title>
        Dashboard page
    </title>
    <meta charset='utf-8' />

    <link rel="apple-touch-icon" sizes="180x180" href="/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/fav/favicon-16x16.png">
    <link rel="manifest" href="/fav/site.webmanifest">
    <link rel="mask-icon" href="/fav/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link href='css/normalize.css' rel='stylesheet' />


    <link href='css/dashboard.css' rel='stylesheet' />

    <meta name="viewport"
        content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

</head>

<body>

    <div class="page page--dashboard">
        <aside class="page_aside aside vertical vertical--big">
            <div class="text aside_logo">
                Sidebar
            </div>
            <nav class="vertical vertical--small">
                <a href="" class="nav-button nav-button--active click">
                    <span class="icon nav-button__icon" style="background-image: url('/svg/nav/home.svg')"></span>
                    <span class="text text--light">Home</span>
                </a>
            </nav>
            <nav class="vertical vertical--small">
                <a href="" class="nav-button">
                    <span class="icon nav-button__icon" style="background-image: url('/svg/nav/orders.svg')"></span>
                    <span class="text text--light">Orders</span>
                </a>
            </nav>
            <nav class="vertical vertical--small">
                <a href="" class="nav-button">
                    <span class="icon nav-button__icon" style="background-image: url('/svg/nav/products.svg')"></span>
                    <span class="text text--light">Products</span>
                </a>


            </nav>
        </aside>
        <header class="header">
            <div class="layout header_content text--small">
                <div class="header__search relative">
                    <input type="text" placeholder="Search" class="text field field--header">
                    <span class="icon header__icon-search"
                        style="background-image: url('/svg/header/search.svg')"></span>
                    <span class="icon icon--header-settings icon--button icon--color-blue click"
                        style="background-image: url('/svg/header/settings.svg')"></span>
                </div>
                <div class="icons">
                    <span class="icon icon--button icon--header-connect icon--color-yellow"
                        style="background-image: url('/svg/header/connect.svg')"></span>
                    <span class="icon icon--button icon--header-connect icon--color-sm-light"
                        style="background-image: url('/svg/header/language.svg')"></span>
                    <span class="icon icon--button icon--header-connect icon--color-yellow-light"
                        style="background-image: url('/svg/header/call.svg')"></span>

                </div>
            </div>

        </header>
        <main class="main">
            <div class="layout">
                <section class="box analytic__block big--margin-bottom">
                    <div class="analytic analytic--double analytic--purple-light">
                        <span class="icon analytic__button icon--button icon--color-purple-dark click"
                            style="background-image: url('/svg/analytic/earning.svg')"></span>
                        <div class="relative vertical vertical--small">
                            <div class="analytic__title text text--light">$500.00</div>
                            <div class="text text--small text--lighter">Total earning</div>
                            <span class="icon analytic__arrow"
                                style="background-image: url('/svg/analytic/blue-arrow.svg')"></span>
                        </div>
                    </div>
                    <div class="analytic analytic--double analytic--blue">
                        <span class="icon analytic__button icon--button icon--color-blue click"
                            style="background-image: url('/svg/analytic/order.svg')"></span>
                        <div class="relative vertical vertical--small">
                            <div class="analytic__title text text--light">$961</div>
                            <div class="text text--small text--lighter">Total Order</div>
                            <span class="icon analytic__arrow"
                                style="background-image: url('/svg/analytic/blue-arrow.svg')"></span>
                        </div>
                    </div>

                    <div class="analytic__half analytic--blue">
                        <span class="icon analytic__button icon--button icon--color-blue click"
                            style="background-image: url('/svg/analytic/earning.svg')"></span>
                        <div class="relative vertical vertical--small">
                            <div class="analytic__title text text--light">$203k</div>
                            <div class="text text--small text--lighter">Total Income</div>
                        </div>
                    </div>

                    <div class="analytic__half analytic--white">
                        <span class="icon analytic__button icon--button icon--color-yellow-light click"
                            style="background-image: url('/svg/analytic/shop.svg')"></span>
                        <div class="relative vertical vertical--small">
                            <div class="analytic__title text">$203k</div>
                            <div class="text text--small text--gray">Total Income</div>
                        </div>

                    </div>
                </section>
                <div class="main__double">
                    <div class="main__purchase box big--margin-right">
                        <div class="text--heading">Purchase list</div>
                        <div class="divider"></div>
                        <div class="purchase__list">
                            <div class="products">
                                <div class="text">ID437661</div>
                                <div class="text">May 11, 2023, 14:21</div>
                            </div>
                            <div class="products">
                                <div class="text">AirOn ProCam</div>
                                <div class="text">7/8 USB Type-C</div>
                            </div>
                            <div class="products">
                                <div class="text">132.32 EUR</div>
                                <div class="text warning--color">Not paid</div>
                            </div>
                            <div class="products">
                                <div class="text">Customer</div>
                                <div class="text">robin@com.de</div>
                            </div>
                        </div>
                        <div class="divider"></div>
                        <div class="purchase__list">
                            <div class="products">
                                <div class="text">ID437661</div>
                                <div class="text">May 11, 2023, 14:21</div>
                            </div>
                            <div class="products">
                                <div class="text">PHILIPS Essential</div>
                                <div class="text">HD9200/90</div>
                            </div>
                            <div class="products">
                                <div class="text">543 USD</div>
                                <div class="text success--color">Pay by Stripe</div>
                            </div>
                            <div class="products">
                                <div class="text">Customer</div>
                                <div class="text">dima@com.ua</div>
                            </div>
                        </div>
                    </div>
                    <div class="main__payment vertical box">
                        <div class="text--heading">Payment</div>
                        <div class="divider"></div>
                        <div class="variants__payment">
                            <div class="vertical vertical--small text--heading divider">
                                <div>
                                    <input type="radio" id="option1" name="options" class="click">
                                    <label for="option1" class="text">Credit card</label>
                                </div>
                                <div>
                                    <input type="radio" id="option2" name="options" class="click">
                                    <label for="option2" class="text">Debit card</label>
                                </div>
                                <div class="middle--marging">
                                    <input type="radio" id="option3" name="options" class="click">
                                    <label for="option3" class="text">PayPal</label>
                                </div>
                            </div>
                        </div>
                        <div class="dates__state">
                            <div>
                                <label for="card" class="text small--marging">Name on card</label>
                                <input type="text" placeholder="" id="card" class="text field">
                            </div>
                            <div>
                                <label for="card" class="text small--marging">Credit card number</label>
                                <input type="text" placeholder="" id="card" class="text field">
                            </div>
                        </div>
                        <div class="dates__state">
                            <div>
                                <label for="card" class="text small--marging">Expiration</label>
                                <input type="text" placeholder="" id="card" class="text field">
                            </div>
                            <div>
                                <label for="card" class="text small--marging">CVV</label>
                                <input type="text" placeholder="" id="card" class="text field">
                            </div>
                        </div>
                        <div class="divider"></div>
                        <div class="dates__state">
                            <div class="relative click">
                                <label for="#" class="text small--marging">Country</label>
                                <div class="field field--select relative">
                                    <span class="text">Choose...</span>
                                    <span class="icon main__icon click"
                                        style="background-image: url('/svg/analytic/bird.svg')"></span>
                                </div>
                                <select class="field__select">
                                    <option value="country">England</option>
                                    <option value="country">Ukraine</option>
                                    <option value="country">Spain</option>
                                </select>
                            </div>
                            <div class="relative click">
                                <label for="#" class="text small--marging">State</label>
                                <div class="field field--select relative small--marging">
                                    <span class="text">Choose...</span>
                                    <span class="icon main__icon click"
                                        style="background-image: url('/svg/analytic/bird.svg')"></span>
                                </div>
                                <select class="field__select">
                                    <option value="state">London</option>
                                    <option value="state">Kyiv</option>
                                    <option value="state">Madrid</option>
                                </select>
                            </div>
                        </div>
                        <div class="divider"></div>
                        <a href="#" class="nav-button nav-button--active button--payment click">
                            <span class="text text--light">Continue to checkout</span>
                        </a>
                    </div>
                </div>
            </div>
        </main>
    </div>

</body>

</html>