<main class="p-5">
    <div class="card p-5">
        <p id="test">
            Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world!
        </p>
        <p id="test">
            Hello world!
        </p>
        <p hidden id="test">
            Hello world!
        </p>
        <span class="test">Test</span>
    </div>

    <pre>
        fsdf
    </pre>

    <div>Block</div>
    <div>Block</div>
    <div>Block</div>
    <div>Block</div>
    <div>Block</div>

    <div style="padding: 10px 50px 100px 200px; background: gray; height: 50px;">
        <span>Inline</span>
        <span>Inline</span>
        <span>Inline</span>
        <span class="block">Inline-block</span>
    </div>

    <div>Block</div>
</main>