<div class="hero_block">
    {{> heroDark}}
</div>

<div class="about_block">
    {{> aboutDark}}
</div>

<div class="articles_block">
    <div class="articles_inline">
        <h1>Our Articles</h1>
        <button class="articles_button1">View All</button>
    </div>
    <div class="articles_column">
        {{> cardDark}}
    </div>
</div>