
:root {
    background-color: var(--color-page);

    --space-xs: 4px;
    --space-s: 8px;
    --space-m: 12px;
    --space-xm: 16px;
    --space-l: 24px;
    --space-xl: 32px;
    --space-b: 36px;

    --size-xxs: 10px;
    --size-xs: 12px;
    --size-s: 14px;
    --size-m: 16px;
    --size-l: 20px;
    --size-xl: 24px;
    --size-xxl: 36px;

    --color-border: rgb(82, 80,80);
    --color-logo: #885FFB;
    --color-white: #ffffff;
    --color-page: #111827;
    --color-text: #9CA3AF;
    --color-background-page: #272b30;

    --border-radius-s: 4px;
    --border-radius-m: 10px;
    --border-radius-b: 12px;

    --weight-title: 700;
    --weight-text: 500;

    --size-page: 1150px;

    --opacity: 0.7;

    --line-height-d: 100%;

    scroll-behavior: smooth;
}
/* ===================== */
.page {
    background: var(--color-page); 
    padding: 0 15px;
    display: flex;
    justify-content: center;
}
.page_content {
    max-width: var(--size-page);
    width: 100%;

    display: flex;
    flex-direction: column;

    gap: 80px;


}
/* ======================= */
.header {
    background-color: var(--color-page);
    position: sticky;
    top: 0;
    width: var(--size-page);
    padding: 0;
    z-index: 1;
}
.header_block1 {
    display: flex;
    padding: var(--size-xs) 0;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-bottom: 1px solid var(--color-border);
}
.header_name {
    display: flex;
    align-items: flex-start;
    gap: var(--size-xxs);
    color: var(--color-white);
    font-size: var(--size-s);
    font-family: 700;
    line-height: var(--line-height-d);

    background-color: var(--color-logo);
    border-radius: var(--border-radius-m);

    padding: 8px var(--size-xs);
}
.header_links {
    display: flex;
    gap: 24px;
}
.header_nav_link {
    color: var(--color-white);
    font-size: var(--size-m);
    line-height: var(--line-height-d);
    text-decoration: none;
    border-bottom: 1px solid transparent;

    transition-property: var(--opacity), var(--color-border);
    transition-duration: 1s;
}
.header_nav_link:hover {
    opacity: 0.5;
    border-color: 1px solid var(--color-white);
}
.header_block2 {
    display: flex;
    margin-top: var(--size-xs);
    padding: var(--size-xs) 0;
    position: relative;
    padding: 0;
    gap: 6px;
}
.header_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(238, 130, 238, 0.345);
    border-radius: 4px;
    width: 30px;
    height: 18px;
    padding: 2px 6px;
    color: var(--color-logo);
}
.header_ad {
    display: flex;
    color: var(--color-white);
    text-decoration: none;
    font-size: var(--size-s);
    font-weight: var(--weight-text);
    line-height: 130%;
    border-bottom: 1px solid transparent;
    transition-property: var(--opacity), var(--color-border);
    transition-duration: 1s;
}
.header_ad:hover {
    opacity: 0.5;
    border-color: 1px solid var(--color-white);
}
.header_user {
    display: flex;
    position: absolute;
    right: 0;
    color: var(--color-white);
    text-decoration: none;
    font-size: var(--size-s);
    font-weight: var(--weight-text);
    line-height: 130%;
}
.hero_block {
    display: flex;
    align-self: stretch;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 300px;
    width: 100%;
    padding: var(--space-xl);
    border-radius: calc(var(--border-radius-b) * 2);
    background: radial-gradient(632.95% 141.42% at 100% 100%, rgba(17, 24, 39, 0) 0%, rgba(78, 63, 146, 0.6) 100%);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
.hero_title {
    font-size: 36px;
    font-weight: var(--weight-title);
    color: var(--color-white);
}
.hero_description {
    color: var(--color-text);
    text-align: center;
    font-size: var(--size-m);
    font-weight: var(--weight-text);
    line-height: 150%;
}
.hero_button {
    display: flex;
    width: 150px;
    padding: var(--space-s);
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-m);
    color: var(--color-white);
    font-size: var(--size-m);
    font-weight: var(--weight-title);
    text-decoration: none;
    background: var(--color-logo);
    gap: var(--space-s);
    transition-duration: 1s;
}
.hero_button:hover {
    opacity: 0.6;
}
.about_block {
    padding: var(--space-xl);
    gap: var(--space-xm);
}
.about_title {
    font-size: var(--size-xl);
    color: var(--color-white);
    font-weight: var(--weight-title);
    padding-bottom: var(--space-xm);
}
.about_text {
    color: var(--color-text);
    font-size: var(--size-s);
    font-weight: var(--weight-text);
    line-height: 170%;
}
.articles_block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: var(--size-page);
    gap: var(--space-xl);
}
.articles_inline {
    display: flex;
    position: relative;
    align-items: center;
    width: var(--size-page);
    color: var(--color-white);
    font-size: 32px;
    font-weight: var(--weight-title);
    text-transform: capitalize;
}
.articles_button1 {
    display: flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: var(--border-radius-m);
    border: 1px solid var(--color-text);
    color: var(--color-white);
    font-size: var(--size-m);
    font-weight: var(--weight-title);
    position: absolute;
    right: 0;
}
.articles_column {
    max-width: var(--size-page);
    display: flex;
    gap: var(--space-xl);
    justify-content: center;
}
.articles_card {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 362px;
    height: 380px;
    gap: var(--space-xm);
    position: relative;
}
.articles_image {
    display: flex;
    width: 360px;
    height: 248px;
    border-radius: calc(var(--border-radius-b) * 2);
    padding: var(--space-s);
}
.articles_title {
    font-size: 18px;
    color: var(--color-white);
    font-weight: var(--weight-title);
}
.articles_text {
    font-size: var(--size-s);
    color: var(--color-text);
    font-weight: var(--weight-text);
    line-height: 150%;
}
.articles_button_block {
    display: flex;
    justify-content: center;
    align-items: center;
}
.articles_button {
    color: var(--color-white);
    background-color: var(--color-logo);
    border-radius: var(--border-radius-m);
    padding: 8px 16px;
    font-size: var(--size-s);
    font-weight: var(--weight-title);
    align-items: center;
    text-align: center;
    width: 85px;
    height: 30px;
    gap: 8px;

    transition: 1s;
    transition-property: var(--opacity);
}
.articles_button:hover {
    opacity: 0.6;
}
.articles_badge {
    display: inline-flex;
    padding: 2px 6px;
    align-items: flex-start;
    gap: 10px;
    color: var(--color-white);
    font-size: var(--size-m);
    font-weight: var(--weight-title);

    border-radius: var(--border-radius-s);
    background: rgba(251, 95, 95, 0.5);
    text-transform: uppercase;

    position: absolute;
    bottom: 55%;
    right: var(--space-xm);
}
.footer_block {
    display: flex;
    align-items: center;
    position: relative;

    padding-top: var(--space-xm);
    border-top: 1px solid #202a3b;
    margin-bottom: var(--space-xl);
}
.footer_pages {
    display: flex;
    text-align: right;
    gap: var(--space-xm);
}
.footer_links {
    color: var(--color-white);
    font-size: var(--size-m);
    font-weight: var(--weight-text);

    gap: var(--space-xm);
    text-decoration: none;

    border-bottom: 1px solid transparent;
    transition-property: opacity, border-color;
    transition-duration: 1s;
}
.footer_links:hover {
    opacity: 0.6;
    border-color: 1px solid var(--color-white);
}
.footer_copyright {
    font-size: var(--size-m);
    font-weight: var(--weight-text);
    color: var(--color-text);
    position: absolute;
    right: 0;
}

